body {
    background-color: black;
    color: rgba(255, 255, 255, 0.925);
}
#landing{
    height: 100vh;
    background-image: url("../images/joanna-kosinska-483605-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
#mainText{
    margin-top: 30vh;
}
.parallax-container {
    clear: both;
    height: 150px;
  }
/* .row .col.s12 {
    margin-top: 25%;
} */

.row.center {
    margin-top: 100;
}

.img.left {
    margin-right: 5%;
    margin-bottom: 10%;
}

.card-image{
    height: 200px; 
    overflow: hidden;
}

/* .activator {
    height: 50%;
} */

.p1Quote {
    margin-top: 20%;
}