body {
    background-color: black;
    color: rgb(255,250,240);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14pt;
    font-kerning: auto;
    border-color: black;
}
#landing{
    height: 100vh;
    background-image: url("../images/joanna-kosinska-483605-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
#mainText{
    margin-top: 30vh;
}
.parallax-container {
    clear: both;
    height: 150px;
}
.row.center {
    margin-top: 100;
}
.img.left {
    margin-right: 5%;
    margin-bottom: 10%;
}
.card-image{
    height: 200px; 
    overflow: hidden;
}
.p1Quote {
    margin-top: 20%;
    font-size: 30px;
    text-shadow: 1px 1px black;
}
.form {
    color: rgb(255,250,240);
}
#mainText.center {
    text-shadow: 2px 2px black;

}
.center {
    text-shadow: 2px 2px black;

}
